@import "tailwindcss";

html,
body {
  background-color: #fefdff;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 900' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CradialGradient id='g' cx='85%25' cy='20%25' r='75%25'%3E%3Cstop offset='0%25' stop-color='%23E6F4FF'/%3E%3Cstop offset='40%25' stop-color='%23CFE9FF'/%3E%3Cstop offset='75%25' stop-color='%23A9D4FF'/%3E%3Cstop offset='100%25' stop-color='%238EC8F8'/%3E%3C/radialGradient%3E%3C/defs%3E%3Ccircle cx='1350' cy='320' r='550' fill='url(%23g)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

/* ========================= */
/* Custom Scrollbar */
/* ========================= */

.custom-scrollbar {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* removes white track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}